<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <!--<div class="side-border">-->

  <body>

    <div class="nav-container">

      <ul class="nav">

        <li id="image"><a href="#"><img src="https://news.ycombinator.com/y18.gif" width="15" height="15" style="border:1px #ffffff solid;"></a></li>

        <li><a href="#"><b>Slacker News</b></a></li>

        <li><a href="#"> new |</a></li>

        <li><a href="#"> comments |</a></li>

        <li><a href="#"> ask |</a></li>

        <li><a href="#"> jobs |</a></li>

        <li><a href="/articles/new "> submit</a></li>

        <li id="login"><a href="#">login</a></li>

      </ul>
    </div>

    <div class="main-container">

      <ol class="link-list">

        <% @articles.each do |article| %>

        <li>
        <h4 class="link-title">
        <%= article["title"] %>
        <cite class="link-domain">
        <a href="<%= article["url"] %>"target="_blank"><%= article["url"] %></a>
        </cite>
        <br>
        <span class="link-points-comments"><%= article["description"] %></span></h4>
        </li>

        <% end %>
    </ol>
  </div>

  <div class="footer-container">
    <ul class="footer-list">
        <li><a href="#"> Lists |</a></li>
        <li><a href="#"> RSS |</a></li>
        <li><a href="#"> Bookmarklet |</a></li>
        <li><a href="#"> Guidelines |</a></li>
        <li><a href="#"> FAQ |</a></li>
        <li><a href="#"> DMCA |</a></li>
        <li><a href="#"> News News |</a></li>
        <li><a href="#"> Feature Requests |</a></li>
        <li><a href="#"> Bugs |</a></li>
        <li><a href="#"> Y Combinator |</a></li>
        <li><a href="#"> Apply |</a></li>
        <li><a href="#"> Library</a></li>
    </ul>
  </div>

  <div class="search-container">
    <form>
      <label>Search:</label>
      <input type="search" name="search">

    </form>
  </div>

</body>

</html>
